<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StuckTicketTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <StuckTicketTransfer.Properties.Settings>
            <setting name="StuckTicketTransfer_ITSD_WebServices_USD_WebService"
                serializeAs="String">
                <value>http://tygrra02casdsp1:8080/axis/services/USD_R11_WebService</value>
            </setting>
        </StuckTicketTransfer.Properties.Settings>
    </applicationSettings>

<appSettings>
	<!-- Logging Properties -->
	<add key="ApplicationLog" value="TicketTransferProcess"/>
    <!-- Web Service Settings -->
	<add key="user" value="ServiceDesk"/>
	<add key="password" value="S3erv1ced3sk!@#"/>
	<add key="transfer_user" value="s-ngn-analyst"/>
	<add key="waitPeriod" value="2000" />
    <!-- SMS Notification Settings -->
	<add key="SMS_Service" value="http://tcenhl051.telkom.co.za:8080/bcc/SendSms.php?myId=MTAuMjUxLjI0LjE1MSA0MTA1NDcyMTU&amp;group=BCC&amp;msg="/>
	<!-- Email Settings -->
	<add key="subject" value="ITSD - Auto Ticket Transfer: Report Summary"/>
	<add key="mail_server" value="mail.telkom.co.za"/>
	<add key="recipients" value="Leon.Potgieter@bcx.co.za"/>
	<add key="cclist" value="renico.claasen@bcx.co.za,donavan.bugan@bcx.co.za"/>
	<add key="From" value="ITSD_Auto_Ticket_Transfer@bcx.co.za"/>
	<add key="mailserver" value="mail.telkom.co.za"/>
	<!-- View Query-->
	<add key="selectquery" value="select distinct(ref_num), new_group, new_assignee_id, [description] from ngn.v_event_transfers"/>
</appSettings>
<connectionStrings>
       <add name="Neville_View" connectionString="Server=CNTRRA20-CCDMP1;User Id=auto_transfers;Password=auto_transfers;Database=Support"/>
</connectionStrings>
</configuration>